
  :root {
    --backgroundColor: rgb(48, 23, 82);
    --colorShadeA: rgb(80, 38, 136);
    --colorShadeB: rgb(143, 97, 219);
    --colorShadeC: rgb(143, 97, 219);
    --colorShadeD: rgb(143, 97, 219);
    --colorShadeE: rgb(223, 39, 184);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
    background: var(--backgroundColor);
  }

  @font-face{
    font-family: 'Retro';
    src: url(/Assets/NineteenNinetySeven-11XB.ttf);
}

  #box{
    text-align: center;
    margin: 4% 3%;
    font-family: 'Retro';
}

  #head, #head-top {
    display: flex;
    justify-content: center;
 }

   #head-top{
    background-color: var(--colorShadeB);
    height: 10vh;
    width: auto;
  }

   #prompt {
    color: var(--colorShadeB);
    font-size: 18pt;
    text-align: center;
  }

    .profile {
      border-radius: 50%;
      height: fit-content;
      width: fit-content;
      border: var(--colorShadeA) solid 2px;
      background-color: var(--colorShadeB);
      margin: auto;
    }

        .profile img{
            border-radius: 50%;
        }

        #content{
            border-radius: 20px;
        }

        .user-info{
          display: flex;
          justify-content: center;
        }

        .user-info li {
            margin: 2%; 
            list-style-type: none;
        }

          #username{
              border-radius: 20px;
              border: var(--colorShadeE) solid 3px;
              height: 3vh;
          }

          .btn {
              width: 250px;
              height: 30px;
              background-color: var(--colorShadeE);
              border-radius: 12px;
              border: var(--colorShadeC) solid 3px;
          }

  #landing-page{
    height:100vh;
    width: 100%;
     font-family: 'OpenSans', sans-serif;
    font-size: 10px;
    line-height: 1.6;
    display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
  }
  #logo{
    border: 5px white outset;
    text-align: center;
    width: 80%;
    height: 50%;
    top: 10px;
    position : fixed;
  }
  #choose-mood{
    z-index: 1;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
  }
  
  .big-button {
    width: 250px;
    height: 50px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
      color:var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
     padding: 0.5em 0.5em;
     border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
  transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  button.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
      box-shadow: 0 0 0 1px var(--colorShadeB), 0 0.5em 0 0 var(--colorShadeA);
   transform: translate3d(0, 0.5em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.5em, -1em);
  }
  
  button.big-button:active {
              transform: translate(0em, 0.5em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 1px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  
  }
  
  #settings{
    width: 100%;
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .setting{
    padding: 0px;
    border-radius: 50%;
    outline: none;
    border: 5px solid var(--colorShadeA);
    bottom: 0;
    background: var(--colorShadeB);
  }
  
  .setting img{
      width: 90px;
      height: 90px;
      border-radius: 50%;
  }
  
  button.setting:hover {
    background: var(--colorShadeE);
    transform: translate(0, 0.375em);
  }

#category-page{
  width: 100%;
  font-family: 'OpenSans', sans-serif;
    font-size: 10px;
    line-height: 1.6;
  display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
}
  #categories{
    border: 2px var(--colorShadeB) solid; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
    .category{
      margin: 10px;
      border: 2px black solid; 
      border-radius: 5%;
      width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--colorShadeE);
    }
      .category:hover{
        cursor: pointer;
      }
    .category p{
        color: var(--colorShadeA);  
    }
    .category img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 15px;
        background: white;
        border: 1px solid black;
        border-radius: 50%;
    }

#levels{
  border: 1px blue solid;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#questions{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

  .question{
    font-weight: bold;
  }

  .choices{
    margin-right: 5px;
  }