
  :root {
    --backgroundColor: rgb(48, 23, 82);
    --colorShadeA: rgb(80, 38, 136);
    --colorShadeB: rgb(143, 97, 219);
    --colorShadeC: rgb(143, 97, 219);
    --colorShadeD: rgb(143, 97, 219);
    --colorShadeE: rgb(223, 39, 184);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  @font-face{
    font-family: 'Retro';
    src: url(NineteenNinetySeven-11XB.ttf);
  }
  
  html, body {
    margin: 0;
    font-family: 'Retro';
    background: var(--backgroundColor);
  }
  
  .navbar{
    top: 0;
    font-size: 30px;
    width: 100%;
    color: var(--colorShadeE);
    border: ridge 2px var(--colorShadeE);
    display: flex;
      flex-direction: row;
      align-items: center;
  }
    .back {
      /* background-color: var(--colorShadeC); */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      color: var(--colorShadeE);
      /* border: 2px dotted var(--colorShadeE); */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 70px;
      text-decoration: none;
  }
    .back:hover {
      /* background: var(--colorShadeE); */
      color: var(--colorShadeB);

    }
    .back:active{
      text-decoration: none;
    }

  .menu{
    height: 80px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .menu h1{
      font-size: 25px;
    }

    /*********************************************** intro/authentication.ejs ****************************************************/

    #autherization-page{
      font-family: sans-serif;
      height: 90vh;
      width: 100%;
      background-color: var(--colorShadeA);
      border: 2px var(--colorShadeE) solid;
      border-top: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    #box{
      border-top: 2px solid var(--colorShadeE);
    }

   .prompt {
     font-family: sans-serif;
    margin-top: 10px;
    color: var(--colorShadeE);
    font-size: 30px;
    text-align: center;
  }

  #input-name{
    display: flex;
    justify-content: center;
  }
  #username{
    border: var(--colorShadeE) solid 3px;
    border-radius: 20px;
    height: 3vh;
    outline: none;
  }
  #avatars{
    margin: 50px auto 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
    .avatar {
      border: var(--colorShadeE) solid 2px;
      border-radius: 50%;
      background-color: var(--colorShadeB);
      outline: none;
      overflow: hidden;
      margin: 1vw;
      padding-left: 0.5%;
      width: 100px;
      height: 100px;
    }
    .avatar img{
      width: 60px;
      height: 60px;
    }
    .avatar:hover{
      background-color: var(--colorShadeA);
      cursor: pointer;
    }
  #avatarUpload{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
    #avatar0{
      margin: 0px 5px;
    }
      #image-preview{
        display: none;
      }
    #image-form {
      background: url("https://imagizer.imageshack.com/v2/100x75q90/922/NtCrwx.png") center no-repeat;
      margin: 0px 5px;
    }
      #image-form:hover{
        cursor: pointer;
        background-color: var(--colorShadeB);
      }
      #addAvatar {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        -webkit-appearance:none; 
        opacity:0; 
      }
  /*********************************************** button  ****************************************************/

  .big-button {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 30px;
      color:var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Retro';
    padding: 0.5em 0.5em;
    border: 2px solid var(--colorShadeA);
      border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  button.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
      box-shadow: 0 0 0 1px var(--colorShadeB), 0 0.5em 0 0 var(--colorShadeA);
   transform: translate3d(0, 0.5em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  /* button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  } */
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.5em, -1em);
  }
  
  button.big-button:active {
              transform: translate(0em, 0.5em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 1px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  
  }

/*********************************************** intro/index.ejs ****************************************************/


#landing-page{
  height:100vh;
  width: 100%;
  font-size: 10px;
  line-height: 1.6;
  display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
}
  #logo{
    text-align: center;
    width: 100%;
    height: 700%;
    margin-top: 50px;
  }
    #logo img{
      width: 50%;
    }
  #choose-mood{
    z-index: 1;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
  }

  #settings{
    width: 100%;
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .setting{
    padding: 0px;
    border-radius: 50%;
    outline: none;
    border: 3px solid var(--colorShadeA);
    bottom: 0;
    background: var(--colorShadeB);
  }
  
  .setting img{
      width: 150px;
      height: 150px;
  }
  
  button.setting:hover {
    background: var(--colorShadeE);
    transform: translate(0, 0.375em);
  }
    /*********************************************** intro/index.ejs/modals ****************************************************/
    .modal{
      border: yellow 2px solid;
      text-align: center;
      width: 100%;

     

    }
   
    .modal-content{
      color: white;
      font-family: 'Retro';
    }
      .modal-header{
        background-color: var(--backgroundColor);
      }
        .modal-header .close{
          color: white;
        }
      .modal-body{
        background-color: var(--colorShadeC);
        font-size: 20px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
        .modal-body h4{
          color: var(--colorShadeE);
        }
      .modal-footer{
        font-family: sans-serif;
        background-color: var(--backgroundColor);
      }
        #reset{
          background-color: var(--colorShadeE);
          color: var(--colorShadeB);
        }
  /*********************************************** intro/select.ejs ****************************************************/

#category-page{

  top: 0;
  width: 100%;
    font-size: 20px;
    line-height: 1.6;
  display: flex;
          flex-direction: column;
          align-items: center;
}
  #categories{

    margin: 10px;
    padding: 2px;
    position: relative;
    width: 60%;
    z-index: 1;
    display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
  }
   
    .category{
      background-color: var(--colorShadeA);
      box-shadow: 2px 2px var(--colorShadeA), 3px 3px var(--colorShadeB), 4px 4px var(--colorShadeE);
      /* box-shadow: 1px 2px 0px 10px rgba(46, 229, 157, 0.4); */
      font-family: sans-serif;
      border-left: none;
      width: 600px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      font-size: 30px;
      color: var(--colorShadeE); 
    }
     
      .category img {
          width: 15%;
          height: 100%;
          float: left;
          /* border: 0.5px dotted var(--colorShadeE); */
      }

      .category:hover{
        cursor: pointer;
        background-color: var(--colorShadeE);
        color: var(--colorShadeA); 
      }
  /*********************************************** intro/coming.ejs ****************************************************/
#comingSoon img{
  margin: auto;
  height: 100%;
  width: 100%;

}


/*********************************************** game/index.ejs ****************************************************/

#timer{
  margin-left: 30px;
  background: var(--colorShadeE);
  color: var(--colorShadeB);
  border: 2px solid var(--colorShadeB);
  padding: 5px;
  border-radius: 20%;
}

form{
  padding: 10px;
  background-color: var(--colorShadeA);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


fieldset{
  background-color: var(--backgroundColor);
  color: var(--colorShadeE);
  border: 2px solid var(--colorShadeE);
  margin-top: 50px;
  width:80%;
  border-radius: 20px;
}
  fieldset .question{
    font-family: sans-serif;
    font-size: 20px;

  }
  fieldset .choices{
    font-family: sans-serif;
    font-size: 17px;
  }
  form .big-button{
    text-align: center;
  
  }
    form .big-button:hover{
      background-color: var(--colorShadeB);
    }

.choices{
  font-family: sans-serif;
  font-size: 8px;
}

/*********************************************** game/score.ejs ****************************************************/
#scorepage{
  border: black 1px solid;
  height: 100%;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
  #new-score{
    border: 2px var(--colorShadeE) solid;
    color: var(--colorShadeE);
    width: 40%;
    height: 30px;
    padding: 0px;
    margin: 20px;
    display: flex;
    line-height: 0px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  table {
    border-collapse: collapse;
    width: 80%;
  }

  td, th {
    border: 1px solid var(--colorShadeE);
    color: var(--colorShadeE);
    text-align: center;
    padding: 4px;
  }
  tr:nth-child(odd) {
    background-color: var(--backgroundColor);

  }
  tr:nth-child(even) {
    background-color: var(--colorShadeA);
  }
  #home-button{
    width: 100px;
  }


  @media only screen and (max-width: 900px) {
    .avatar {
      margin: 2px;
      padding-left: 0;
    }
    .useravatar{
      width: 100px;
      height: 100px;
    }
    .avatar {
      width: 80px;
      height: 80px;
    }
    .avatar img{
      width: 60px;
      height: 60px;
    }
    .modal-dialog{
      margin-top: 10vh;
      width: 350px;
    }
    .modal-body{
      font-size: 15px;
    }
    .setting{
      z-index: 99;
      padding: auto;
      outline: none;
      /* border: 2px solid var(--colorShadeE); */
      bottom: 0;
      background: transparent;
    }
    .big-button {
      font-size: 20px;
    }
      .setting img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    #logo img{
      width: 70%;
    }
    .category{
      margin-bottom: 15px;
      padding-bottom: 0px;
      text-align: center;
      border: 2px solid var(--colorShadeE);
      border-radius: 1%;
      width: 100%;
      font-size: 15px;
    }
    #categories{
      width: 60%;
      
      /* background-color: black; */
    }
     
      .category img {
          width: 0%;
          /* background-color: rgb(143, 97, 219); */
        
      }
    
  
    form{
      height: 90vh;
      display: flex;
      white-space: nowrap;
      overflow: auto;
      overflow-y: hidden;
    }
    #questions{
      display: flex;
      overflow: auto;
      flex: none;
      width: 100%;
      height: 450px;
      flex-flow: row nowrap;
      scroll-snap-type: x mandatory;
    }
    
    ::-webkit-scrollbar {
      width: 0px;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }

    #fix{
      margin-top: 210px;
      width: 80%;
      position: fixed;
    }
    #fixsubmit{
      margin-top: 200px;
      width: 80%;
      position: fixed;

    }
     fieldset{
      margin-top: 100px;
      text-align: left;
      scroll-snap-align: center;
      flex: none;
      width: 90%;
      height: 150px;
     }
      fieldset .question{
        height: 50px;
        white-space: normal;
        font-size: 15px;
      }
      
      fieldset .choices{
        font-size: 12px;
      }

      #new-score{
        font-size: 15px;
        width: 90%;
      }
  }