:root{
    --backgroundColor: rgb(48, 23, 82);
    --colorShadeA: rgb(80, 38, 136);
    --colorShadeB: rgb(143, 97, 219);
    --colorShadeC: rgb(143, 97, 219);
    --colorShadeD: rgb(143, 97, 219);
    --colorShadeE: rgb(223, 39, 184);
}

* {
    font-family: 'Retro';
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
}

@font-face{
    font-family: 'Retro';
    src: url(/Assets/NineteenNinetySeven-11XB.ttf);
}

body{
    background-color: var(--backgroundColor);
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

#box{
    text-align: center;
    margin: 4% 3%;
}

#head, #head-top {
    display: flex;
    justify-content: center;
}

#head-top{
    background-color: var(--colorShadeB);
    height: 10vh;
    width: auto;
}

#prompt {
    color: var(--colorShadeB);
    font-size: 18pt;
    text-align: center;
}

.profile {
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    border: var(--colorShadeA) solid 2px;
    background-color: var(--colorShadeB);
    margin: auto;
}

.profile img{
    border-radius: 50%;
}

#content{
    border-radius: 20px;
}

.user-info{
  display: flex;
  justify-content: center;
}

.user-info li {
    margin: 2%; 
    list-style-type: none;
}

#username{
    border-radius: 20px;
    border: var(--colorShadeE) solid 3px;
    height: 3vh;
}

.btn {
    width: 250px;
    height: 30px;
    background-color: var(--colorShadeE);
    border-radius: 12px;
    border: var(--colorShadeC) solid 3px;
}


