<%- include('../partials/header') %>

  <script>
          //localStorage.clear();

    if(localStorage.getItem('user')!=null)
    {
      location.href = '/home';
    }
  </script>
  <div class="navbar"> OTRIVIA </div>

  
  <div id="box">
    <div id="snaplogin">
      <div id="my-login-button-target"/>
    </div>

    <h4 class="prompt"> Type Your Username Below: </h4>
    <div id="input-name">
      <input type="text" id="username" name="user_name" placeholder="Username">
    </div>
    <h4 class="prompt"> Choose an Avatar: </h4>
    <!--The Users Profile Avatar-->
    <div id="avatars"> 
      <button onclick="avatar(this.id)" id="avatar1"  class="avatar">
        <img src="https://imagizer.imageshack.com/img923/6269/CAS3nf.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar2" class="avatar">
        <img src="https://imagizer.imageshack.com/img924/7995/KvViBx.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar3" class="avatar">
        <img src="https://imagizer.imageshack.com/img923/5628/cByKp9.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar4" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/4928/UQFrY2.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar5" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/3670/7qATtp.png"> 
      </button>
    </div>
    <div id="avatarUpload">
      <button onclick="avatar(this.id)" id="avatar0" class="avatar">
        <img src="" id="image-preview">
        <p id="default-preview">preview</p>
      </button>
      <button class="avatar" id="image-form">
        <input id="addAvatar" type="file" accept="image/*" capture="camera" title="Upload Avatar">
      </button>

      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    </div>
    
    
 </div>

 <script>

    const preview = document.getElementById("image-preview");
    const inpAvatar = document.getElementById("addAvatar");
    const previewText = document.getElementById("default-preview");

    inpAvatar.addEventListener("change", function() {
      const photo = this.files[0];

      if(photo){
        const reader = new FileReader();

          reader.addEventListener("load", function(){
          preview.setAttribute("src", this.result);
          previewText.style.display = "none"
          preview.style.display = "block"; 
        });

        reader.readAsDataURL(photo);
      }
      else{
        alert("Choose an Image File");
      }

    });

   function avatar(id){

    if(document.getElementById("username").value==""){
      alert("Enter a Username.");
      return;
    }
    if(document.getElementById("username").value==""){
      alert("Upload an avatar or choose one.");
      return;
    }
      localStorage.setItem("avatar", document.getElementById(id).children[0].getAttribute('src'));
      localStorage.setItem("user", document.getElementById("username").value);

      location.href = '/home';
   }
 </script> 

<script>
  /* 
login.js

This code handles the process so users can log in to Snake Squad using their Snap accounts on index.html. 
Once logged in, the program redirects to game.html 
It's mostly adapted from SnapKit documentation. There are only two places that you need to change. 
*/

window.snapKitInit = function () {
var loginButtonIconId = 'my-login-button-target';
// Mount Login Button
snap.loginkit.mountButton(loginButtonIconId, {
clientId: '95f7eb87-b295-42bd-aed5-2126be35c87f', /*YOU CHANGE: Must be changed to the development client ID on snapckit*/
redirectURI: 'https://otriviagame.herokuapp.com/', /*YOU CHANGE: Must be changed to your glitch project's url AND added as the redirect URI on snapkit */
scopeList: [
  'user.display_name',
  'user.bitmoji.avatar',
],
//Once snapchat logs user in, this funciton is run: 
handleResponseCallback: function() {
  snap.loginkit.fetchUserInfo()
    .then(function(data) {
      //Once snapchat logs us in, we can...
      //have access to user data. Inspect the web page to see this!...
      console.log('User info:', data)        
      // store user data in localStorage...
      var bitmoji_avatar_url = data.data.me.bitmoji.avatar;
      var user_name = data.data.me.displayName;
      localStorage.setItem("user", user_name)
      localStorage.setItem("avatar", bitmoji_avatar_url);
      //and redirect the user to the game.html
      // location.href="/home"
  });
},
});
};

/* This code is copy-pasted from SnapKit documentation and loads the Snap login SDK asynchronously.*/
(function (d, s, id) {
var js, sjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://sdk.snapkit.com/js/v1/login.js";
sjs.parentNode.insertBefore(js, sjs);
}(document, 'script', 'loginkit-sdk'));

</script>
  <%- include('../partials/footer') %>


