<%- include('../partials/header') %>

  <div id="head"> <img src="Assets/RetroBack.png"> </div>
  <div id="box">
    <h4 id="prompt"> Type Your Name Below and Choose an Avatar: </h4>
  
    <!--The Users Profile Avatar-->
    <div class="profile"> 
      <img src="https://imagizer.imageshack.com/img924/1254/kuGFwD.png">  
    </div>
    <!--Content within the inside of the middle body-->
     <div id="content">
      <ul class="user-info">

        <li class="list-item"> 
          <button class="btn"> Avatar Select</button>
        </li>

        <li class="list-item">
         <input type="text" id="username" name="user_name">
        </li>

      </ul>

      <button class="btn"> Play </button>
     </div>
    </div>
  </div>
  <div id="footer"> </div>
  
  <%- include('../partials/footer') %>