<%- include('../partials/header') %>
<script src="/index-login.js" defer></script>

  <script>
          //localStorage.clear();

    if(localStorage.getItem('user')!=null)
    {
      location.href = '/home';
    }
  </script>
  <div class="navbar"> OTRIVIA </div>
  <div id="box">
    <h4 class="prompt"> Type Your Username Below: </h4>
    <div id="input-name">
      <input type="text" id="username" name="user_name" placeholder="Username">
    </div>
    <h4 class="prompt"> Choose an Avatar: </h4>
    <!--The Users Profile Avatar-->
    <div id="avatars"> 
      <button onclick="avatar(this.id)" id="avatar1"  class="avatar">
        <img src="https://imagizer.imageshack.com/img923/6269/CAS3nf.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar2" class="avatar">
        <img src="https://imagizer.imageshack.com/img924/7995/KvViBx.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar3" class="avatar">
        <img src="https://imagizer.imageshack.com/img923/5628/cByKp9.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar4" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/4928/UQFrY2.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar5" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/3670/7qATtp.png"> 
      </button>
    </div>
    <div id="avatarUpload">
      <button onclick="avatar(this.id)" id="avatar0" class="avatar">
        <img src="" id="image-preview">
        <p id="default-preview">preview</p>
      </button>
      <button class="avatar" id="image-form">
        <input id="addAvatar" type="file" accept="image/*" capture="camera" title="Upload Avatar">
      </button>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <div id="my-login-button-target">h<div>

    </div>
    
 </div>

 <script>

    const preview = document.getElementById("image-preview");
    const inpAvatar = document.getElementById("addAvatar");
    const previewText = document.getElementById("default-preview");

    inpAvatar.addEventListener("change", function() {
      const photo = this.files[0];

      if(photo){
        const reader = new FileReader();

          reader.addEventListener("load", function(){
          preview.setAttribute("src", this.result);
          previewText.style.display = "none"
          preview.style.display = "block"; 
        });

        reader.readAsDataURL(photo);
      }
      else{
        alert("Choose an Image File");
      }

    });

   function avatar(id){

    if(document.getElementById("username").value==""){
      alert("Enter a Username.");
      return;
    }
    if(document.getElementById("username").value==""){
      alert("Upload an avatar or choose one.");
      return;
    }
      localStorage.setItem("avatar", document.getElementById(id).children[0].getAttribute('src'));
      localStorage.setItem("user", document.getElementById("username").value);

      location.href = '/home';
   }
 </script> 
  <%- include('../partials/footer') %>