<%- include('../partials/header') %>

  <script>
          //localStorage.clear();

    if(localStorage.getItem('user')!=null)
    {
      location.href = '/home';
    }
  </script>
  <div class="navbar"> OTRIVIA </div>
  <div id="box">
    <h4 id="prompt"> Type Your Name Below and Choose an Avatar: </h4>
    <div id="input-name">
      <input type="text" id="username" name="user_name" placeholder="Username">
    </div>
    <!--The Users Profile Avatar-->
    <div id="avatars"> 
      <button onclick="avatar(this.id)" id="avatar1"  class="avatar">
        <img src="https://imagizer.imageshack.com/img924/2336/qn8zdT.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar2" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/8441/69G1dr.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar3" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/7828/RcMA5F.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar4" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/3684/gpZvgW.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar5" class="avatar">
        <img src="https://imagizer.imageshack.com/img922/9100/rBvOpb.png"> 
      </button>
      <button onclick="avatar(this.id)" id="avatar6" class="avatar">
        <img src="https://imagizer.imageshack.com/img923/5279/9Juwo9.png"> 
      </button>
      

    </div>

 </div>
 <script>
   function avatar(id){

    if(document.getElementById("username").value==""){
      alert("Enter a Username");
      return;
    }

      localStorage.setItem("avatar", document.getElementById(id).children[0].getAttribute('src'));
      localStorage.setItem("user", document.getElementById("username").value);

      location.href = '/home';
   }
 </script> 
  <%- include('../partials/footer') %>