<%- include('../partials/header') %>
<div class="navbar"> 
    <a href='/home' class="back">
        <i class="fa fa-angle-left"></i>
    </a>
    <div class="menu">
        <h1>OTrivia</h1>
    </div>
</div>
<div id="comingSoon">
    <img src="https://imagizer.imageshack.com/img922/4959/9KmxBn.gif">
</div>

<%- include('../partials/footer') %>