<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<%- include('../partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div id="landing-page">
    <div id="logo">
      <img src="https://imagizer.imageshack.com/v2/1000x400q90/923/GHHsNZ.png"/>
    </div>
    <div id="choose-mood">
      <button class="big-button" onclick="location.href = '/chillcategories'">Chill Mode</button>
      <button class="big-button" onclick="location.href = '/partycategories'">Party of One</button>
      <button class="big-button" onclick="location.href = '/games/party'">Join the Party</button>
    </div>
    
    <%- include('../partials/modals') %>

  </div>


  <script>
    document.getElementById('normalavatar').setAttribute('src', localStorage.getItem('avatar'));
    document.getElementById('useravatar').setAttribute('src', localStorage.getItem('avatar'));
    document.getElementById('user').innerText= "Welcome "+localStorage.getItem('user')+"!";

    Storage.prototype.getObj = function(key) {
      return JSON.parse(this.getItem(key))
    }

    for(let index=0; index<localStorage.getObj('scores').length; ++index) {
      console.log(index);
      document.getElementsByClassName('table-scores')[index].children[0].innerText = localStorage.getObj('scores')[index];
      document.getElementsByClassName('table-scores')[index].children[1].innerText = localStorage.getObj('times')[index];  
    }

    function reset(){
      localStorage.clear();
      location.href='/';
    }

  </script>
<%- include('../partials/footer') %>